:root {
  --desktop-header-height: 0;
  --tablet-header-height: 66px;
  --mobile-header-height: 48px;
  --desktop-tabbar-height: 0;
  --tablet-tabbar-height: 88px;
  --mobile-tabbar-height: 60px;
  --desktop-imagesize: (48, 40, 32, 28);
  --tablet-imagesize: (36, 30, 24, 20);
  --mobile-imagesize: (24, 20, 16, 14);

  /* --border-radius: (0); */
}

@each $name1, $value1 in var(--color) {
  @each $name2, $value2 in var(--color) {
    .act {
      @if $(name1) != $(name2) {
        &.act\:C\(0\%\:$(name1)-100\%\:$(name2)\), & > .act\:C\(0\%\:$(name1)-100\%\:$(name2)\) {
          background-image: linear-gradient(to bottom, $(value1) 0%, $(value2) 100%);
          background-clip: text;
          color: transparent;
        }
      }
    }
  }
}

/* @each $key in var(--border-radius) {
  .Bdrs\($(key)\) {
    border-radius: $(key)px;
  }
} */

@mixin maxPC {
  @each $desktopkey in var(--desktop-imagesize) {
    .W\($(desktopkey)\) {
      width: $(desktopkey)px;
    }

    .H\($(desktopkey)\) {
      height: $(desktopkey)px;
    }

    .WH\($(desktopkey)\) {
      width: $(desktopkey)px;
      height: $(desktopkey)px;
    }
  }
}

@mixin minPC {
  @each $desktopkey in var(--desktop-imagesize) {
    .W\($(desktopkey)\) {
      width: vmp($(desktopkey) px);
    }

    .H\($(desktopkey)\) {
      height: vmp($(desktopkey) px);
    }

    .WH\($(desktopkey)\) {
      width: vmp($(desktopkey) px);
      height: vmp($(desktopkey) px);
    }
  }
}

@mixin T {
  @each $desktopkey, $desktopidx in var(--desktop-imagesize) {
    @each $tabletkey, $tabletidx in var(--tablet-imagesize) {
      @if $desktopidx == $tabletidx {
        .W\($(desktopkey)\) {
          width: vmt($(tabletkey) px);
        }

        .H\($(desktopkey)\) {
          height: vmt($(tabletkey) px);
        }

        .WH\($(desktopkey)\) {
          width: vmt($(tabletkey) px);
          height: vmt($(tabletkey) px);
        }
      }
    }
  }
}

@mixin M {
  @each $desktopkey, $desktopidx in var(--desktop-imagesize) {
    @each $mobilekey, $mobileidx in var(--mobile-imagesize) {
      @if $desktopidx == $mobileidx {
        .W\($(desktopkey)\) {
          width: vmm($(mobilekey) px);
        }

        .H\($(desktopkey)\) {
          height: vmm($(mobilekey) px);
        }

        .WH\($(desktopkey)\) {
          width: vmm($(mobilekey) px);
          height: vmm($(mobilekey) px);
        }
      }
    }
  }
}
