<div class="mTicketCnt --single jTicketCnt">
  <%- require('_components/mTicketCnt.ejs')({
    type: 'single',
    tickets: [{
      isLive: true,
      leagueName: 'Manchester City v Aston Villa',
      league: 'England. Premier League',
      under: 'FT Over/Under - Under 1.5',
      mark : `<mark class="mTicketStock Fz(24) C(xf) D(fx) Ai(c) Bgc(x9abf) Bdrs(2) Px(12,t) Px(8,m)"><b>1.68</b></mark>`,
      input: true,
      fit: null,
      close: null
    }, {
      isLive: false,
      leagueName: 'Osasuna v Sevilla',
      league: 'England. Premier League',
      under: 'FT Over/Under - Under 1.5',
      mark : `<mark class="mTicketStock Fz(24) C(xf) D(fx) Ai(c) Bgc(x9abf) Bdrs(2) Px(12,t) Px(8,m)"><b></b>1.68</b></mark>`,
      input: true,
      fit: null,
      close: null
    }, {
      isLive: false,
      leagueName: 'Osasuna v Sevilla',
      league: 'England. Premier League',
      under: 'FT Over/Under - Under 1.5',
      mark : `<mark class="mTicketStock Fz(24) C(xf) D(fx) Ai(c) Bgc(x0d9a) Bdrs(2) Px(12,t) Px(8,m)"><em>2.68 → 1.71</em></mark>`,
      input: true,
      fit: null,
      close: null
    }, {
      isLive: false,
      leagueName: 'Osasuna v Sevilla',
      league: 'England. Premier League',
      under: 'FT Over/Under - Under 1.5',
      mark : `<mark class="mTicketStock Fz(24) C(xf) D(fx) Ai(c) Bgc(xf457) Bdrs(2) Px(12,t) Px(8,m)"><em>2.68 → 1.71</em></mark>`,
      input: true,
      fit: null,
      close: null
    }, {
      isLive: false,
      leagueName: 'Osasuna v Sevilla',
      league: 'England. Premier League',
      under: 'FT Over/Under - Under 1.5',
      mark : `<mark class="mTicketStock Fz(24) C(xf) D(fx) Ai(c) Bgc(x9abf) Bdrs(2) Px(12,t) Px(8,m)"><b>1.68</b></mark>`,
      input: true,
      fit: null,
      close: true
    }]
  }) %>
  <div class="mPop">
    <div class="mTicketPop">
      <div class="mTicketPopStatus D(fx) Fxd(row-r) Ai(c) Bgc(x0d9a) Bdtrrs(8) Bdtlrs(8) Px(24,t) Py(14,t) Px(16,m) Py(10,m)">
        <b class="D(b) C(xf) Fz(30) Fxg">您已投注完成！</b>
        <%- require('_components/svg.ejs')({
          className: 'WH(48) Fi(xf)',
          svgName: 'check-o'
        }) %>
      </div>
      <div class="mTicketPopHd Bgc(xf) Px(24,t) Pt(24,t) Pb(3,t) Px(16,m) Pt(16,m) Pb(2,m) Pos(r)">

      </div>
      <div class="mTicketPopBd Bgc(xf)"></div>
    </div>
  </div>
</div>