<div class="mediaHd Pos(r) Px(60,t) Px(48,m) Ta(c)">
  <button type="button" class="mediaHdIcon D(b) Pos(a)" onClick="window.history.back();">
    <%- require('../../_components/svg.ejs')({
      className: 'WH(48)',
      svgName: 'arrow-left'
    }) %>
  </button>
  <div class="mediaHdMenu">
    <a href="<%- href %>" class="mediaHdMenuCtrl Py(16,t) Py(12,m) D(b) Pos(r) D(fx) Ai(c) Bxz(bd)">
      <b class="Fz(30)">England Premier League</b>
    </a>
  </div>
</div>