<button type="button" class="mBtn D(ifx) Ai(c) Bgc(xf) Fz(26) Ta(c) Px(16,t) Px(12,m) C(x7799)<%- typeof className !== 'undefined' ? ` ${className}` : '' %>">
  <em><%- text %></em>
  <%- require('_components/svg.ejs')({
    className: 'WH(32) Fi(x7799)',
    svgName: icon
  }) %>
</button>